<footer class = "footer">
  <small>
    <p>Creator : Karthik Vuswanathan</p>
    <a href="http://nickinack.github.io/" target="_blank">Creator's Website</a>
  </small>
  <ul>
    <li><%= link_to "Contact" , contact_path %></li>
  </ul>
</footer>